<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="c1.css">
    <title>D1</title>
</head>
<body>
    <h1 id="hId2">Jhigu Dhime <span id="hId1">lemu' l9d</span></h1>
    <h2>Dyalhyaa 1</h2>
    <h2>Chapter Sound</h2>
    <audio controls>
        <source src="chapter1.ogg" type="audio/ogg">
        <source src="chapter1.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <h2>Demo Sound</h2>
    <audio controls>
        <source src="demo1.ogg" type="audio/ogg">
        <source src="demo1.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio><br>

    <img src="1.JPG" alt="notes">

    
</body>
</html>