<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/main page.css">
    <title>HomePage</title>
</head>

<body>
    <h1 id="hId2">Jhigu Dhime <span id="hId1">lemu' l9d</span></h1>
    <div class="d1">
        <img id="img1" src="assets/css/dhime2.png" alt="dhime"><br>
        <a href="chapters.html"><button class="b1">Learn Dhime</button><br></a>
        <a href="dhime simulator.html"><button class="b1">Dhime Simulator</button></a>
    </div>

</body>

</html>